@import url('https://use.typekit.net/tyu0dhq.css');

:root {
    --ff-coord: 'coordinates', monospace;
    --ff-grotesk: 'roc-grotesk', 'Helverica Neue', sans-serif;

    --c-bg: #f7f0e8;
    --c-grid: grey;
    --c-aqua: #7fffd4;
    --c-pink: #ffc0cb;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: var(--ff-grotesk);
    font-weight: 300;
    background-color: var(--c-bg);
}

a {
    color: inherit;
    /* text-decoration: none; */
}

* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 5px;
}

button {
    background-color: inherit;
    outline: none;
    border: none;
    font-size: inherit;
    font-weight: bold;
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 700;
    line-height: 1.3;
    margin-top: 0;
    margin-bottom: 0.5em;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
}

h5 {
    font-size: 1.125rem;
}

ul,
ol {
    line-height: 1.5;
    padding: 0;
}

ul li {
    list-style: circle;
    list-style-position: inside;
}

ol li {
    list-style: decimal-leading-zero;
    list-style-position: inside;
}
